---
import { getCollection } from "astro:content"
import settings from "../content/settings/settings.json"

// const { frontmatter } = Astro.props;


const list = await getCollection("projects");
console.log(settings.title)
---

<a class="logo" href=""><img src={settings.logo} alt="Logo" /></a>
<div class="container">
    <h2>{settings.title}</h2>
    <div>
<img class="paul"  src="/assets/uploads/paulinho.jpg" alt="">
    {
        list.map(element => <div class="project">
            <h1>{element.data.title}</h1>
            <p>{element.data.subtitle}</p>
            <img src={element.data.image} alt={element.data.title}/>
        
            </div>)
    }
    </div>
</div>

<style>
    .logo img{position: fixed; top: 10px; left: 10px; height: 78px;}
    h2{font-size: 5rem; color: rgb(255, 255, 255); text-align: center; margin-top: 25px }
    .paul{height: 354px;  width: 100%; margin-top: -38px; object-fit: cover;}
    .project img{margin: 0 auto; width: 100%; object-fit: cover;}
    .container{width: 30%; display: flex; justify-content: center; align-items: center; flex-direction: column; margin: 0 auto;}
    
</style>

<script>
    
</script>